@page "/service/{CarId:int}/new"
@using Caarro.Data
@using Caarro.Services
@inject NavigationManager _NavigationManager
@inject ServicesService _ServicesService

<PageTitle>Caarro - New Service</PageTitle>

<EditForm Model="_service" OnSubmit="@SubmitNewService">
    <InputNumber id="odometer" placeholder="Odometer" @bind-Value="_service.Odometer"/>
    <InputSelect id="service-type" placeholder="Service Type" @bind-Value="_service.Type">
        @foreach (var type in Enum.GetValues(typeof(ServiceType)))
        {
            <option value="@type">@type</option>
        }
    </InputSelect>
    <InputText id="location" placeholder="Location" @bind-Value="@_service.Location"/>
    <InputText id="driver" placeholder="Driver" @bind-Value="@_service.Driver"/>
    <InputNumber id="cost" placeholder="Cost" @bind-Value="_service.Amount"/>
    
    <button type="submit">Add</button>
</EditForm>

@code {
    [Parameter]
    public int CarId { get; set; }

    private Service _service = new();

    private async Task SubmitNewService()
    {
        _service.VehicleId = CarId;
        await _ServicesService.AddServiceAsync(_service);
        _NavigationManager.NavigateTo($"/service/{CarId}");
    }
}