@page "/refueling/{CarId:int}/new"
@using Caarro.Data
@using Caarro.Service
@inject NavigationManager _NavigationManager
@inject RefuelingService _RefuelingService

<PageTitle>New Refueling</PageTitle>
<h3>New Refueling</h3>

<EditForm Model="_refueling" OnSubmit="@SubmitNewRefueling">
    <InputNumber id="odometer" placeholder="Odometer" @bind-Value="@_refueling.Odometer"/>
    <InputNumber id="price" placeholder="Total Price" @bind-Value="@_refueling.Price"/>
    Full Tank:
    <InputCheckbox id="tofull" CurrentValue="true" @bind-Value="_refueling.ToFull"/>
    <InputText id="location" placeholder="Location Name" @bind-Value="@_refueling.Location"/>
    <InputText id="drive" placeholder="Driver Name" @bind-Value="@_refueling.Driver"/>
    <InputSelect id="fuel" placeholder="Fuel Type" @bind-Value="@_refueling.Fuel">
        @foreach (var fuel in Enum.GetValues(typeof(FuelType)))
        {
            <option value="@fuel">@fuel</option>
        }
    </InputSelect>
    
    <button type="submit">Submut</button>
</EditForm>

@code {
    [Parameter]
    public int CarId { get; set; }
    
    private Refueling _refueling = new();

    private async Task SubmitNewRefueling()
    {
        _refueling.VehicleId = CarId;
        await _RefuelingService.AddRefuelingAsync(_refueling);
        _NavigationManager.NavigateTo($"/refueling/{CarId}");
    }
}