@page "/car/{CarId:int}"
@using Caarro.Data
@using Caarro.Services
@using Microsoft.Extensions.Logging
@inject NavigationManager _NavigationManager
@inject VehicleService _VehicleService
@inject ILogger<NewCar> _Log

@code {
    [Parameter]
    public int CarId { get; set; }

    private Vehicle? _vehicle;

    private void EditCar()
    {
        _NavigationManager.NavigateTo($"/car/edit/{CarId}");
    }
    
    protected override async Task OnInitializedAsync()
    {
        _vehicle = await _VehicleService.GetVehicleAsync(CarId);
    }
}

@if (_vehicle is null)
{
    <PageTitle>Caarro</PageTitle>
    <p>
        <em>Not found.</em>
    </p>
}
else
{
    <PageTitle>Caarro - @_vehicle.Name</PageTitle>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Year</th>
            <th>Added On</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>@_vehicle.Name</td>
            <td>@_vehicle.Year</td>
            <td>@_vehicle.Date</td>
        </tr>
        </tbody>
    </table>
    <button type="button" onclick="@EditCar">Edit</button>
                                            
    <h4>Details:</h4>
    <p><a href="/refueling/@_vehicle.Id">Refueling</a></p>
    <p><a href="/services/@_vehicle.Id">Services</a></p>
}
